### Task3

In [2]:
list1 = [1,2,3,4,5,6,7,8,9]#count()
list1.remove(9)

In [3]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [7]:
list1.count(2)

1

In [8]:
list1.clear()

In [9]:
list1

[]

In [15]:
list1 = [1,2,3,6,7,8,5,4,9]
list1.sort()

In [17]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list1.reverse()

In [19]:
list1

[9, 8, 7, 6, 5, 4, 3, 2, 1]

### Task 4
#Add item 70 after 60 in the following Python List
#input
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
#output
[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [1]:
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]

In [2]:
l1[2][2]

[50, 60]

In [25]:
l1[2][2].append(70)

In [27]:
l1[2][2].remove(70)

In [28]:
l1

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

## 2

#add sublist [7,8]
#input
l2 = [1,2,[3,4,5,6],9]
#output
[1,2,[3,4,5,6,[7,8]],9]

In [30]:
l2 = [1,2,[3,4,5,6],9]
l2[2].append([7,8])

In [31]:
l2

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

### Task5

dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
From the above dictionary, do the following tasks

access "Mike"
access 80
change "Mike" to "Your name"
add ML = 80 and DL = 80 inside marks

In [2]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [3]:
dict1['april_batch']['student']['name']

'Mike'

In [4]:
dict1['april_batch']['student']['marks']['python']

80

In [8]:
dict1['april_batch']['student']['name']='akshay'

In [9]:
dict1

{'april_batch': {'student': {'name': 'akshay',
   'marks': {'python': 80, 'maths': 70}}}}

### Task 6

Task6 - Add and remove the elements from a tuple. (Refer workaroud to modify the tuples)Â¶

In [16]:
tup1=(1,2,3,4,5,6)

In [17]:
tup1.append(7)

AttributeError: 'tuple' object has no attribute 'append'

In [14]:
##tuple apppending is not possible first convert to the list and the make changes and then convert to tuple

In [18]:
list1=list(tup1)#to add the elemrnt we have to convert to a list

In [19]:
list1

[1, 2, 3, 4, 5, 6]

In [20]:
list1.append(7)

In [21]:
list1

[1, 2, 3, 4, 5, 6, 7]

In [27]:
tup1=tuple(list1)

In [28]:
tup1

(1, 2, 3, 4, 5, 6, 7)

In [29]:
tup1

(1, 2, 3, 4, 5, 6, 7)

In [30]:
list1=list(tup1)

In [31]:
list1.pop(1)

2

In [32]:
list1

[1, 3, 4, 5, 6, 7]

In [33]:
tup1=tuple(list1)

In [34]:
tup1

(1, 3, 4, 5, 6, 7)

### Task7

Task7 - go through other inbuilt methods like
1) difference() 2) symmetric_difference()

In [5]:
set1={10,20,30,40}
set2={30,40,50,60}

In [6]:
set3=set1.difference(set2)

In [7]:
set3

{10, 20}

In [8]:
set3=set1.symmetric_difference(set2)

In [9]:
set3

{10, 20, 50, 60}

### Task 9

Ask 2 numbers from users and store it in num1 and num2
Ask user to press 1 for addition,2 for subtraction,3 for multiplication and 4 for division
based on number given by user do the math operation

In [10]:
num1=int(input('enter the number'))
num2=int(input('enter the number'))
choice=input('1 for addition,2 for substraction, 3 for multiplication and 4 for division')
result=0
if(choice =='1'):
    result=num1+num2
elif(choice =='2'):
        result=num1-num2
elif(choice =='3'):
        result=num1*num2
elif(choice =='4'):
        result=num1%num2
else:
    print('enetered value is not valid')
    print('the result is',result)

enter the number2
enter the number2
1 for addition,2 for substraction, 3 for multiplication and 4 for division1

### Task 10

using while loop print numbers from 10 to 1
try using for loop to loop over tuples,sets and dictionaries

In [11]:
i=10
while(i>=1):
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [12]:
tup1=(1,2,5,4,6,9,3)
for item in tup1:
    print(item)

1
2
5
4
6
9
3

In [13]:
list1=[1,2,3,4]
list1[0]

1